@font-face {
    font-family: SourceSansBold;
    src: url("../font/SourceSansPro-Bold.otf") format("otf");
    font-weight: normal;
}

span {
    color: #9dbdc6;
    font-size: 30px;
    width: inherit;
    height: inherit;
    text-align: center;
    margin-top: 5px;
    font-weight: lighter;
}

.slider h1 {
    font-size: 18px;
    margin-bottom: 3%;
    margin-top: 5%;
    color: #2c3e50;
    font-family: 'Source Sans Pro', sans-serif;
}

.slider__helpers {
    color: #9dbdc6;
    font-size: 14px;
}

.slider__helpers--left,
.slider__helpers--right {
    display: inline-block;
    width: 50%;
    color: #9dbdc6;
}

.slider__value {
    color: #ff3d2e;
    width: 100%;
    font-size: 24px;
    text-align: center;
    display: block;
    visibility: visible;
}

.slider__mobile__display {
    width: 100%;
    height: 50px;
    margin-top: 6%;
}

.slider__mobile--helperLeft,
.slider__mobile--helperRight {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #9dbdc6;
    float: left;
}

.slider__mobile--helperMiddle {
    display: block;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #9dbdc6;
    float: left;
    width: calc(100% - 100px);
    padding-top: 2%;
    color: #ff3d2e;
    font-size: 24px;
    text-align: center;
    font-family: 'SourceSansBold', sans-serif;
    border: 1px solid #daeaef;
    display: block;
}

.__slider {
    width: 100%;
    height: 10px;
}

.handle {
    height: 13px;
    width: 13px;
    margin-top: -3px;
    border-radius: 55px;
    cursor: pointer;
    border: 0px solid transparent;
    background-image: linear-gradient(86deg, #ff3d2e, #ff252c);
}

.bar {
    position: relative;
    background: #ff3d2e;
    height: 7px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px #9dbdc6;
}

.bar.bar-1 {
    background: #9dbdc6;
    height: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px #9dbdc6;
}
